.listings {
  &__listing.row {
    margin-bottom: 25px;

    figure.listing-item {
      margin: 0;
    }
  }
}

.button-row {
  margin-top: rem-calc(15);
}
.listing-content-container {
    padding: .5em 0 1em 0;
}
